* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #FFE6E6;
}

a, 
a:hover {
    text-decoration: none;
    color: #FFE6E6;
}

body {
    background-color: #201B2E;
}

.bi {
    margin-right: 1rem;
    font-size: 1.3rem;
}

.bio-container {
    width: 75%;
}

.bio-name-heading {
    background-color: #302844;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin: 1rem;
    font-size: 3rem;
    font-weight: 600;
}

.bio-link {
    padding: 5px 15px;
    width: 40%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 15px;
}

.bio-link:hover {
    background-color: #302844;
}

.bio-section {
    width: 40%;
}

.bio-text {
  padding: 0 15px;
  margin: 2rem 0;
}

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.modal {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-close-btn {
  font-size: 2rem;
  font-weight: bold;
  align-self: flex-start;
  justify-self: end;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: #201B2E;
  padding: 20px;
  border: 1px solid #3b3b3b;
  width: 80%;
  height: 80%;
  animation-name: modalOpen;
  animation-duration: 0.4s;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.modal-description-container {
  padding-right: 1.5rem;
}

.modal-img-container {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-link {
  font-weight: 600;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 5px 15px;
  border-radius: 15px;
}

.modal-link:hover {
  background-color: #302844;
}

.modal-stack-icon {
  width: 40px;
  height: 40px;
  margin-right: 0.75rem;
}

.modal-stack-icons-container {
  display: flex;
  align-items: center;
}

.modal-title {
  font-size: 3.5rem;
  font-weight: 700;
  background-color: #302844;
  border-radius: 15px;
  width: 100%;
  text-align: center;
}

.modal-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
    background-color: darkgray;
    position: relative;
    overflow: hidden;
    height: 275px;
    width: 400px;
    cursor: pointer;
    border-radius: 6px;
    margin: 0 auto;
}

.project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}


.project-preview-description {
    position: absolute; 
    bottom: 0px;
    left: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    z-index: 2;
}

.project-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-preview-title {
    position: absolute; 
    bottom: 50px;
    left: 10px;
    font-size: 2rem;
    font-weight: 700;
    z-index: 2;
}

.project-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 20px;
    overflow-y: scroll;
    height: 100vh;
    width: 60%;
}
  
@keyframes modalOpen {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 1450px) {
  .bio-container {
    width: 100%;
  }

  .bio-link {
    width: 45%;
  }
  
  .bio-section {
    width: 30%;
  }

  .modal-title {
    font-size: 3rem;
  }

  .project-section {
    width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  .bio-link {
    width: 47%;
  }

  .bio-name-heading {
    font-size: 2.3rem;
  }

  .project {
    height: 225px;
    width: 327px;
  }

  
}

/*----------------------------------------------------- Mobile (Portrait) -----------------------------------------------------*/

@media screen and (max-width: 640px) {
  .bio-section {
    width: 100%;
  }

  .main-container {
    flex-direction: column;
  }

  .modal-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr;
  }
  
  .modal-img-container {
    display: none;
  }
  
  .modal-title {
    font-size: 1.5rem;
  }

  .project-section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    width: 100%;
  }
}

/*----------------------------------------------------- Mobile (Landscape) -----------------------------------------------------*/

@media screen and (min-width: 640px) and (max-width: 890px) {
  .bio-section {
    width: 80%;
  }

  .main-container {
    flex-direction: column;
  }

  .modal-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr;
  }
  
  .modal-img-container {
    display: none;
  }
  
  .modal-title {
    font-size: 2.2rem;
  }

  .project-section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
  }
}

/*----------------------------------------------------- Tablet (Portrait) -----------------------------------------------------*/

@media screen and (min-width: 890px) and (max-width: 1050px) {
  .bio-section {
    width: 80%;
  }

  .bio-link {
    width: 20%;
  }
  
  .main-container {
    flex-direction: column;
  }

  .modal-content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr;
  }
  
  .modal-img-container {
    display: none;
  }
  
  .modal-title {
    font-size: 2.2rem;
  }

  .project {
    height: 225px;
    width: 327px;
  }

  .project-section {
    width: 80%;
    overflow: hidden;
  }
}

/*----------------------------------------------------- Tablet (Landscape) -----------------------------------------------------*/

@media screen and (min-width: 1050px) and (max-width: 1325px) {
  .bio-section {
    width: 80%;
  }

  .bio-link {
    width: 20%;
  }
  
  .main-container {
    flex-direction: column;
  }

  .modal-title {
    font-size: 1.7rem;
  }

  .project-section {
    width: 80%;
  }
}

/*----------------------------------------------------- Computer ---------------------------------------------------------------*/

@media screen and (min-width: 1326px) {
  
}

